<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/styles/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/styles/cover.css" rel="stylesheet">
    <link href="../static/styles/glyphicons.css" rel="stylesheet">
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            {% block body %}
            {% endblock %}
            <div class="mastfoot">
                <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>,
                    by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/scripts/jquery-2.2.1.js"></script>
<script src="../static/scripts/tether.min.js"></script>
<script src="../static/scripts/bootstrap.min.js"></script>
<script src="../static/scripts/app.js"></script>
</body>
</html>