<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Вход пользователя</title>
    <link rel="stylesheet" href="../static/content/forms.css">
    <link rel="stylesheet" href="../static/content/font-awesome.min.css">
</head>

<body>
<div class="container">
    {% if message %}
    <p class="error">{{ message }}</p>
    {% endif %}
    <div id="forms">
        <form action="/login" method="post">
            <p><span class="fa fa-user fa-2x"></span>
                <input id="login" type="text" placeholder="Логин">
            </p>
            <p><span class="fa fa-lock fa-2x"></span>
                <input id="password" type="password" placeholder="Пароль">
            </p>
            <p>
                <input type="submit" value="ВОЙТИ">
            </p>
        </form>
    </div>
</div>
</body>

</html>