{% extends "layout.html" %}
{% block body %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">Планировщик заданий</h3>
            <nav class="nav nav-masthead">
                <a class="nav-link active" href="/projects">Мои проекты</a>
                <a class="nav-link" href="/tasks">Задачи</a>
                <a class="nav-link" href="#">Помощь</a>
            </nav>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Название проекта</th>
            <th style="width: 200px;">Создатель</th>
            <th style="width: 100px;">Статус</th>
            <th style="width: 100px;"><span class="glyphicon glyphicon-cog"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="/tasks" title=""
                    class="heading" data-content="Всплывающая подсказка. Appends the popover to a specific element.
                    Example: container: 'body'. This option is particularly useful in that it allows you to position
                    the popover in the flow of the document near the triggering element -
                    which will prevent the popover from floating away from the triggering element during a window resize."
                    rel="popover" data-placement="bottom" data-original-title="Название проекта">
                    Includes a modal-backdrop element.
                </a>
            </td>
            <td>backdrop</td>
            <td><code class="alert-info">В&nbsp;процессе</code></td>
            <td><a href="https://github.com/Nemo-Illusionist/TaskManager" class="tool" title="Перейти на сайт проекта">
                <span class="glyphicon glyphicon-new-window"> </span></a>
                <a href="/edit" class="tool" title="Редактировать данные проекта">
                    <span class="glyphicon glyphicon-pencil"> </span></a>
                <a href="/remove" class="tool" title="Удалить проект">
                    <span class="glyphicon glyphicon-remove"> </span></a></td>
        </tr>
        <tr>
            <td><a href="/tasks">Closes the modal when escape key is pressed</a></td>
            <td>keyboard</td>
            <td><code class="alert-success">Завершен</code></td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/tasks">Puts the focus on the modal when initialized.</a></td>
            <td>focus</td>
            <td><code class="alert-warning">Новый</code></td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/tasks">Puts the focus on the modal when initialized.</a></td>
            <td>focus</td>
            <td><code class="alert-danger">Отменен</code></td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/tasks">Puts the focus on the modal when initialized.</a></td>
            <td>focus</td>
            <td><code class="alert-success">Завершен</code></td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/tasks">Puts the focus on the modal when initialized.</a></td>
            <td>focus</td>
            <td><code class="alert-warning">Новый</code></td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/tasks">Puts the focus on the modal when initialized.</a></td>
            <td>focus</td>
            <td><code class="alert-info">В&nbsp;процессе</code></td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/tasks">Puts the focus on the modal when initialized.</a></td>
            <td>focus</td>
            <td><code class="alert-success">Завершен</code></td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/tasks">Puts the focus on the modal when initialized.</a></td>
            <td>focus</td>
            <td><code class="alert-info">В&nbsp;процессе</code></td>
            <td>true</td>
        </tr>
        <tr>
            <td><a href="/tasks">Shows the modal when initialized.</a></td>
            <td>show</td>
            <td><code class="alert-warning">Новый</code></td>
            <td>true</td>
        </tr>
        </tbody>
    </table>
{% endblock %}