{% extends "layout.html" %}
{% block body %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">Планировщик заданий</h3>
            <nav class="nav nav-masthead">
                <a class="nav-link" href="/">Домой</a>
                <a class="nav-link active" href="/structure">Куда-то еще</a>
                <a class="nav-link" href="#">Помощь</a>
            </nav>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Название проекта</th>
            <th style="width: 100px;">Создатель</th>
            <th style="width: 100px;">Статус</th>
            <th>Ссылка на проект</th>
            <th style="width: 50px;">Ред.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Includes a modal-backdrop element.</td>
            <td>backdrop</td>
            <td><code class="alert-info">В&nbsp;процессе</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td>Closes the modal when escape key is pressed</td>
            <td>keyboard</td>
            <td><code class="alert-success">Завершен</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td>Puts the focus on the modal when initialized.</td>
            <td>focus</td>
            <td><code class="alert-warning">Новый</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td>Puts the focus on the modal when initialized.</td>
            <td>focus</td>
            <td><code class="alert-danger">Отменен</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td>Puts the focus on the modal when initialized.</td>
            <td>focus</td>
            <td><code class="alert-success">Завершен</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td>Puts the focus on the modal when initialized.</td>
            <td>focus</td>
            <td><code class="alert-warning">Новый</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td>Puts the focus on the modal when initialized.</td>
            <td>focus</td>
            <td><code class="alert-info">В&nbsp;процессе</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td>Puts the focus on the modal when initialized.</td>
            <td>focus</td>
            <td><code class="alert-success">Завершен</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td>Puts the focus on the modal when initialized.</td>
            <td>focus</td>
            <td><code class="alert-info">В&nbsp;процессе</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        <tr>
            <td>Shows the modal when initialized.</td>
            <td>show</td>
            <td><code class="alert-warning">Новый</code></td>
            <td>
                <a href="https://github.com/Nemo-Illusionist/TaskManager">https://github.com/Nemo-Illusionist/TaskManager</a>
            </td>
            <td>true</td>
        </tr>
        </tbody>
    </table>
{% endblock %}